# 1 Pandas Series and Data Frame

# Learning Objectives
- Explain the relation between pandas.Series and pandas.DataFrame
- Construct simple pandas.Series and pandas.DataFrame from scratch using different initalization methods
- Perform simple operations on pandas.Series
- Navigate the pandas documentation to look for attributes and methods of pandas.Series and pandas.DataFrame

In [ ]:
# import libraries

import numpy as np
import pandas as pd

In [6]:
# creating a numpy array
arr = np.random.randn(4)
print(type(arr))
print(arr, "\n")

# A pandas series made from the previous array
s = pd.Series(arr)
print(type(s))
print(s)

<class 'numpy.ndarray'>
[-0.97997771 -1.38769537  1.24325093  0.72536432]

<class 'pandas.core.series.Series'>
0   -0.979978
1   -1.387695
2    1.243251
3    0.725364
dtype: float64

In [12]:
# creating a pandas.Series
pd.Series(np.arange(3), index = [2026,2024,2025])

2026    0
2024    1
2025    2
dtype: int64

In [13]:
pd.Series(['EDS 220', 'EDS 222', 'EDS 223', 'EDS 242'])

0    EDS 220
1    EDS 222
2    EDS 223
3    EDS 242
dtype: object

In [14]:
# Creating a pandas.Series from a dict

d = {'key_0': 2, 'key_1': '3', 'key_2':5}
#initiatilizng the dict
pd.Series(d)

key_0    2
key_1    3
key_2    5
dtype: object

In [15]:
pd.Series(3.0, index = ['A','B','C'])

A    3.0
B    3.0
C    3.0
dtype: float64

In [17]:
# Define a series

s = pd.Series([98,73,65],index = ['Andrea','Beth', 'Carolina'])

# Divide each element in series by 10
print(s /10, '\n')

print(s)

Andrea      9.8
Beth        7.3
Carolina    6.5
dtype: float64

Andrea      98
Beth        73
Carolina    65
dtype: int64

In [18]:
s > 70

Andrea       True
Beth         True
Carolina    False
dtype: bool

# Identifying Missing Values

In [21]:
# Series with NAs

s = pd.Series([1,2,np.nan, 4, np.nan])
s

0    1.0
1    2.0
2    NaN
3    4.0
4    NaN
dtype: float64

In [23]:
# Check if there are NA's

s.isna()

0    False
1    False
2     True
3    False
4     True
dtype: bool

# Check-in #1

In [ ]:
#init the series
a = pd.Series([1, -999,-999,45], index = ['A','B','C','D'])
type(a)

pandas.core.series.Series

In [7]:
#s = s.mask(s == -999)

a = a.mask(a.iloc[0:4] == -999, np.nan)
a

A     1.0
B     NaN
C     NaN
D    45.0
dtype: float64

In [102]:
# Creating a df
d = {'col_name_1' : pd.Series(np.arange(3)),
      'col_name_2' : pd.Series([3.1,3.2,3.3])
     }

#create df
df = pd.DataFrame(d)
df

   col_name_1  col_name_2
0           0         3.1
1           1         3.2
2           2         3.3

In [103]:
# Change the index
df.index = ['a','b','c']
df

   col_name_1  col_name_2
a           0         3.1
b           1         3.2
c           2         3.3

# Check-in #2

In [109]:
# change the column names to C1 and C2
df.rename(columns = {'col_name_1':'col1', 'col_name_2':'col2'}, inplace = True)
df

   col1  col2
a     0   3.1
b     1   3.2
c     2   3.3